<header class="header header-library">
  <div class="container">
    <nav class="main-nav">
      <a href="./index.html" class="logo">
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__label">Filmoteka</span>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="./index.html" class="nav-list__link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="./library.html" class="nav-list__link nav-list__link--current">My library</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link login-link" >Log in</a>
        </li>
      </ul>
    </nav>
    <div class="library-btn-wrapper js-btn-container">
      <button class="library-btn" type="button" data-action="watched">Watched</button>
      <button class="library-btn" type="button" data-action="queue">Queue</button>
    </div>
  </div>
</header>
