<!-- <div class="container">
    <ul class="popular__mov"></ul> -->

      <!-- <div class="pagination__list">
        <button type="button" class="previous">&#8592</button>
          <span>...</span>
          <nav class="navigation">
          
            <button type="button" class="number">1</button>
            <button type="button" class="number">2</button>
            <button type="button" class="number">3</button>
            
          </nav>
          <span>...</span>
        <button type="button" class="next">&#8594</button>
      </div> -->
<!-- </div> -->

