.popular__mov {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px) {
        padding-top: 20px; 
        padding-bottom: 20px; 
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        gap: 20px 0px;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        padding-top: 59px; 
        padding-bottom: 59px; 
        display: grid;
        max-width: 1279px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 32px 32px;
        justify-content: center;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 60px; 
        padding-bottom: 60px; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 32px 16px;
        justify-content: start;
    }

}

.film-card {
    width: 100%;
    border-radius: 5px;

    // @media screen and (min-width: 320px) {
    //     width: 280px;
    // }

    // @media screen and (min-width: 768px) {
    //     max-width: 294px;
    // }

    // @media screen and (min-width: 1280px) {
    //     width: 274px;
    // }

    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
        transform: scale(1.05);
        box-shadow: 5px 5px 5px 1px rgba(255, 107, 1, 0.2);
        cursor: pointer;
    }
}

.poster {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;

    @media screen and (min-width: 320px) {
        height: 402px;
    }
    @media screen and (min-width: 768px) {
        height: 455px;
    }
    @media screen and (min-width: 1280px) {
        height: 574px;
    }
}

.film-card__title {
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;

    @media screen and (min-width: 320px) {
        font-size: 12px;
        line-height: 1.16;
    }
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.33;
    }
    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.info {
    display: flex;
    align-items: center;
}

.film-card__info {
    font-style: normal;
    font-weight: 500;
    color: #ff6b08;
    @media screen and (min-width: 320px) {
        font-size: 12px;
        line-height: 1.16;
    }
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.33;
    }
    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.vote_average__inWQ{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    padding: 1px 9px 1px 10px;
    width: 36px;
    height: 16px;
    margin-left: 5px;
    color: #FFFFFF;
    background: #FF6B01;
    border-radius: 5px;
     @media screen and (min-width: 1280px) {
        padding: 3px 11px 3px 12px;
            width: 40px;
            height: 20px;
        }
    }
