.overlay{
    background-color: rgba(209, 205, 205, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
}
.footer__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;

    background-image: url(../images/grouplogo.svg);
    background-repeat: no-repeat;
    background-size: 400px 300px;
    background-position: center;
    
        
    transition-duration: .55s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

    @media screen and (max-width: 767px){

        width: 350px;
        height: 450px;
        padding: 40px 72px 40px 36px;
    }
}
.open{
    display: block;
}

.member__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.member__title{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
}
.member__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: #FF6B08;
    text-transform: uppercase;
}





 
