.header {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.header-home {
    background-image: url('./../images/background-home-phone.svg');
}