.popular__mov{
    padding-top: 60px; 
    padding-bottom: 60px; 
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));
    gap: 32px 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.movie {
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}

.movie img{
    width:100%;
    border-radius: 5px;
}

.movie-info h3 {
    margin-top: 12px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.movie__description {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    color: #FF6B08;
    display: flex;
}

.movie__genre {
    margin-right: 10px;
}

.movie__genre::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 1px;
    background-color: #FF6B08;
    margin-left: 5px;
}